body {
  padding-top: 20px;
  padding-bottom: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.errorlist{
	color: #FF0000;
	list-style-type: none;
}
.index h2{
	color: #696969;
	border-bottom: 2px #808080 solid;
	background: #F1F1F1;
	padding: 15px;
	font-style: bold;
	font-size: 2em;
}

.index .item a{
	color: 	#778899;
	border-bottom: 2px black dotted;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}
.index a:visited{
	color: #280000;
}
.index .item th{
	background-color: #A9A9A9; 
	color: #ffffff;
	padding: 15px;
}
.index .item td{
	padding: 5px;
}
tr:nth-child(even) td{
	background: #FEFEFE;
}
tr:nth-child(odd) td{
	background: #F1F1F1;
}
.master_report th{
	background-color: #A9A9A9; 
	color: #ffffff;
	padding: 15px;
}
.register, .login{
	width: 500px;
	margin-left: 20em;
	border: 2px #808080 solid;
	border-radius: 8px;
}
.register .inner, .login .inner{
	margin-right: 2em;
	margin-left: 2em;
}
.inner .pass2{
	margin-bottom: 10px; 
}
.register .btn, .login .btn{
	margin-bottom: 10px;
}
.register .inner h2, .login .inner h2{
	border-bottom: 2px #778899 solid;
	color: #708090;
}
#navbar .user2{
	margin-left: 47em;
}
#navbar .user1{
	margin-left: 40em;
}
*/
