{% extends 'base.html' %}

{% block content %}
<form action="{% url 'associative'%}" method="POST">
{% csrf_token %}
<div class="check">
<div class="checkbox">
  <label for="{{form.short_text1.id_for_label}}"><input id="{{form.short_text1.id_for_label}}" type="checkbox" name="{{form.short_text1.name}}">Short text 1</label>
</div>

<div class="checkbox">
  <label for="{{form.short_text2.id_for_label}}"><input id="{{form.short_text2.id_for_label}}" type="checkbox" name="{{form.short_text2.name}}">Short text 2</label>
</div>

<div class="checkbox">
  <label for="{{form.short_text3.id_for_label}}"><input id="{{form.short_text3.id_for_label}}" type="checkbox" name="{{form.short_text3.name}}">Short text 3</label>
</div>

<div class="checkbox">
  <label for="{{form.short_text4.id_for_label}}"><input id="{{form.short_text4.id_for_label}}" type="checkbox" name="{{form.short_text4.name}}">Short text 4</label>
</div>

<div class="checkbox">
  <label for="{{form.num_field1.id_for_label}}"><input id="{{form.num_field1.id_for_label}}" type="checkbox" name="{{form.num_field1.name}}">Number field 1</label>
</div>

<div class="checkbox">
  <label for="{{form.num_field2.id_for_label}}"><input id="{{form.num_field2.id_for_label}}" type="checkbox" name="{{form.num_field2.name}}">Number field 2</label>
</div>
</div>

<input type="submit" name="submit" value="Submit"></input>
</form>
{% endblock %}