{% extends 'base.html' %}

{% block content %}
<div class="master_report">
<table class="table table-bordered">
<tr>
	<th>Form Field</th>
	<th>Value</th>
</tr>
<!--New template-->
<h2>{{report.label.assosiative.form_name}}</h2>
<tr>
{% if report.short_text1 %}</td>
   <td>{{report.label.short_text1}}</td>
   <td>{{report.short_text1}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text2 %}</td>
   <td>{{report.label.short_text2}}</td>
   <td>{{report.short_text2}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text3 %}</td>
   <td>{{report.label.short_text3}}</td>
   <td>{{report.short_text3}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text4 %}</td>
   <td>{{report.label.short_text4}}</td>
   <td>{{report.short_text4}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text5 %}</td>
   <td>{{report.label.short_text5}}</td>
   <td>{{report.short_text5}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text6 %}</td>
   <td>{{report.label.short_text6}}</td>
   <td>{{report.short_text6}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text7 %}</td>
   <td>{{report.label.short_text7}}</td>
   <td>{{report.short_text7}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text8 %}</td>
   <td>{{report.label.short_text8}}</td>
   <td>{{report.short_text8}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text9 %}</td>
   <td>{{report.label.short_text9}}</td>
   <td>{{report.short_text9}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text10 %}</td>
   <td>{{report.label.short_text10}}</td>
   <td>{{report.short_text10}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text11 %}</td>
   <td>{{report.label.short_text11}}</td>
   <td>{{report.short_text11}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text12 %}</td>
   <td>{{report.label.short_text12}}</td>
   <td>{{report.short_text12}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text13 %}</td>
   <td>{{report.label.short_text13}}</td>
   <td>{{report.short_text13}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text14 %}</td>
   <td>{{report.label.short_text14}}</td>
   <td>{{report.short_text14}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text15 %}</td>
   <td>{{report.label.short_text15}}</td>
   <td>{{report.short_text15}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text16 %}</td>
   <td>{{report.label.short_text16}}</td>
   <td>{{report.short_text16}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text17 %}</td>
   <td>{{report.label.short_text17}}</td>
   <td>{{report.short_text17}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text18 %}</td>
   <td>{{report.label.short_text18}}</td>
   <td>{{report.short_text18}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text19 %}</td>
   <td>{{report.label.short_text19}}</td>
   <td>{{report.short_text19}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text20 %}</td>
   <td>{{report.label.short_text20}}</td>
   <td>{{report.short_text20}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text21 %}</td>
   <td>{{report.label.short_text21}}</td>
   <td>{{report.short_text21}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text22 %}</td>
   <td>{{report.label.short_text22}}</td>
   <td>{{report.short_text22}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text23 %}</td>
   <td>{{report.label.short_text23}}</td>
   <td>{{report.short_text23}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text24 %}</td>
   <td>{{report.label.short_text24}}</td>
   <td>{{report.short_text24}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text25 %}</td>
   <td>{{report.label.short_text25}}</td>
   <td>{{report.short_text25}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text26 %}</td>
   <td>{{report.label.short_text26}}</td>
   <td>{{report.short_text26}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text27 %}</td>
   <td>{{report.label.short_text27}}</td>
   <td>{{report.short_text27}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text28 %}</td>
   <td>{{report.label.short_text28}}</td>
   <td>{{report.short_text28}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text29 %}</td>
   <td>{{report.label.short_text29}}</td>
   <td>{{report.short_text29}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text30 %}</td>
   <td>{{report.label.short_text30}}</td>
   <td>{{report.short_text30}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text31 %}</td>
   <td>{{report.label.short_text31}}</td>
   <td>{{report.short_text31}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text32 %}</td>
   <td>{{report.label.short_text32}}</td>
   <td>{{report.short_text32}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text33 %}</td>
   <td>{{report.label.short_text33}}</td>
   <td>{{report.short_text33}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text34 %}</td>
   <td>{{report.label.short_text34}}</td>
   <td>{{report.short_text34}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text35 %}</td>
   <td>{{report.label.short_text35}}</td>
   <td>{{report.short_text35}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text36 %}</td>
   <td>{{report.label.short_text36}}</td>
   <td>{{report.short_text36}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text37 %}</td>
   <td>{{report.label.short_text37}}</td>
   <td>{{report.short_text37}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text38 %}</td>
   <td>{{report.label.short_text38}}</td>
   <td>{{report.short_text38}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text39 %}</td>
   <td>{{report.label.short_text39}}</td>
   <td>{{report.short_text39}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text40 %}</td>
   <td>{{report.label.short_text40}}</td>
   <td>{{report.short_text40}}</td>
{% endif %}
</tr>

<tr>
{% if report.short_text41 %}</td>
   <td>{{report.label.short_text41}}</td>
   <td>{{report.short_text41}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text42 %}</td>
   <td>{{report.label.short_text42}}</td>
   <td>{{report.short_text42}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text43 %}</td>
   <td>{{report.label.short_text43}}</td>
   <td>{{report.short_text43}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text44 %}</td>
   <td>{{report.label.short_text44}}</td>
   <td>{{report.short_text44}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text45 %}</td>
   <td>{{report.label.short_text45}}</td>
   <td>{{report.short_text45}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text46 %}</td>
   <td>{{report.label.short_text46}}</td>
   <td>{{report.short_text46}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text47 %}</td>
   <td>{{report.label.short_text47}}</td>
   <td>{{report.short_text47}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text48 %}</td>
   <td>{{report.label.short_text48}}</td>
   <td>{{report.short_text48}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text49 %}</td>
   <td>{{report.label.short_text49}}</td>
   <td>{{report.short_text49}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text50 %}</td>
   <td>{{report.label.short_text50}}</td>
   <td>{{report.short_text50}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text51 %}</td>
   <td>{{report.label.short_text51}}</td>
   <td>{{report.short_text51}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text52 %}</td>
   <td>{{report.label.short_text52}}</td>
   <td>{{report.short_text52}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text53 %}</td>
   <td>{{report.label.short_text53}}</td>
   <td>{{report.short_text53}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text54 %}</td>
   <td>{{report.label.short_text54}}</td>
   <td>{{report.short_text54}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text55 %}</td>
   <td>{{report.label.short_text55}}</td>
   <td>{{report.short_text55}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text56 %}</td>
   <td>{{report.label.short_text56}}</td>
   <td>{{report.short_text56}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text57 %}</td>
   <td>{{report.label.short_text57}}</td>
   <td>{{report.short_text57}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text58 %}</td>
   <td>{{report.label.short_text58}}</td>
   <td>{{report.short_text58}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text59 %}</td>
   <td>{{report.label.short_text59}}</td>
   <td>{{report.short_text59}}</td>
{% endif %}
</tr>
<tr>
{% if report.short_text60 %}</td>
   <td>{{report.label.short_text60}}</td>
   <td>{{report.short_text60}}</td>
{% endif %}
</tr>

<tr>
{% if report.num_field1 %}</td>
   <td>{{report.label.num_field1}}</td>
   <td>{{report.num_field1}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field2 %}</td>
   <td>{{report.label.num_field2}}</td>
   <td>{{report.num_field2}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field3 %}</td>
   <td>{{report.label.num_field3}}</td>
   <td>{{report.num_field3}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field4 %}</td>
   <td>{{report.label.num_field4}}</td>
   <td>{{report.num_field4}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field5 %}</td>
   <td>{{report.label.num_field5}}</td>
   <td>{{report.num_field5}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field6 %}</td>
   <td>{{report.label.num_field6}}</td>
   <td>{{report.num_field6}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field7 %}</td>
   <td>{{report.label.num_field7}}</td>
   <td>{{report.num_field7}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field8 %}</td>
   <td>{{report.label.num_field8}}</td>
   <td>{{report.num_field8}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field9 %}</td>
   <td>{{report.label.num_field9}}</td>
   <td>{{report.num_field9}}</td>
{% endif %}
</tr>

<tr>
{% if report.num_field1 %}</td>
   <td>{{report.label.num_field1}}</td>
   <td>{{report.num_field1}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field2 %}</td>
   <td>{{report.label.num_field2}}</td>
   <td>{{report.num_field2}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field3 %}</td>
   <td>{{report.label.num_field3}}</td>
   <td>{{report.num_field3}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field4 %}</td>
   <td>{{report.label.num_field4}}</td>
   <td>{{report.num_field4}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field5 %}</td>
   <td>{{report.label.num_field5}}</td>
   <td>{{report.num_field5}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field6 %}</td>
   <td>{{report.label.num_field6}}</td>
   <td>{{report.num_field6}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field7 %}</td>
   <td>{{report.label.num_field7}}</td>
   <td>{{report.num_field7}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field8 %}</td>
   <td>{{report.label.num_field8}}</td>
   <td>{{report.num_field8}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field9 %}</td>
   <td>{{report.label.num_field9}}</td>
   <td>{{report.num_field9}}</td>
{% endif %}
</tr>
<tr>
{% if report.num_field10 %}</td>
   <td>{{report.label.num_field10}}</td>
   <td>{{report.num_field10}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text1 %}</td>
   <td>{{report.label.long_text1}}</td>
   <td>{{report.long_text1}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text2 %}</td>
   <td>{{report.label.long_text2}}</td>
   <td>{{report.long_text2}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text3 %}</td>
   <td>{{report.label.long_text3}}</td>
   <td>{{report.long_text3}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text4 %}</td>
   <td>{{report.label.long_text4}}</td>
   <td>{{report.long_text4}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text5 %}</td>
   <td>{{report.label.long_text5}}</td>
   <td>{{report.long_text5}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text6 %}</td>
   <td>{{report.label.long_text6}}</td>
   <td>{{report.long_text6}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text7 %}</td>
   <td>{{report.label.long_text7}}</td>
   <td>{{report.long_text7}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text8 %}</td>
   <td>{{report.label.long_text8}}</td>
   <td>{{report.long_text8}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text9 %}</td>
   <td>{{report.label.long_text9}}</td>
   <td>{{report.long_text9}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text10 %}</td>
   <td>{{report.label.long_text10}}</td>
   <td>{{report.long_text10}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text11 %}</td>
   <td>{{report.label.long_text11}}</td>
   <td>{{report.long_text11}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text12 %}</td>
   <td>{{report.label.long_text12}}</td>
   <td>{{report.long_text12}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text13 %}</td>
   <td>{{report.label.long_text13}}</td>
   <td>{{report.long_text13}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text14 %}</td>
   <td>{{report.label.long_text14}}</td>
   <td>{{report.long_text14}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text15 %}</td>
   <td>{{report.label.long_text15}}</td>
   <td>{{report.long_text15}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text16 %}</td>
   <td>{{report.label.long_text16}}</td>
   <td>{{report.long_text16}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text17 %}</td>
   <td>{{report.label.long_text17}}</td>
   <td>{{report.long_text17}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text18 %}</td>
   <td>{{report.label.long_text18}}</td>
   <td>{{report.long_text18}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text19 %}</td>
   <td>{{report.label.long_text19}}</td>
   <td>{{report.long_text19}}</td>
{% endif %}
</tr>
<tr>
{% if report.long_text20 %}</td>
   <td>{{report.label.long_text20}}</td>
   <td>{{report.long_text20}}</td>
{% endif %}
</tr>
<tr>
{% if report.image_field1 %}</td>
   <td>{{report.label.image_field1}}</td>
   <td><img src="{{MEDIA_URL}}{{report.image_field1.url}}"></td>
{% endif %}
</tr>
<tr>
{% if report.image_field2 %}</td>
   <td>{{report.label.image_field2}}</td>
   <td><img src="{{MEDIA_URL}}{{report.image_field2.url}}"></td>
{% endif %}
</tr>
<tr>
{% if report.image_field3 %}</td>
   <td>{{report.label.image_field3}}</td>
   <td><img src="{{MEDIA_URL}}{{report.image_field3.url}}"></td>
{% endif %}
</tr>
<tr>
{% if report.image_field4 %}</td>
   <td>{{report.label.image_field4}}</td>
   <td><img src="{{MEDIA_URL}}{{report.image_field4.url}}"></td>
{% endif %}
</tr>
<tr>
{% if report.image_field5 %}</td>
   <td>{{report.label.image_field5}}</td>
   <td><img src="{{MEDIA_URL}}{{report.image_field5.url}}"></td>
{% endif %}
</tr>
<tr>
{% if report.date_field1 %}</td>
   <td>{{report.label.date_field1}}</td>
   <td>{{report.date_field1}}</td>
{% endif %}
</tr>
<tr>
{% if report.date_field2 %}</td>
   <td>{{report.label.date_field2}}</td>
   <td>{{report.date_field2}}</td>
{% endif %}
</tr>
<tr>
{% if report.date_field3 %}</td>
   <td>{{report.label.date_field3}}</td>
   <td>{{report.date_field3}}</td>
{% endif %}
</tr>
<tr>
{% if report.date_field4 %}</td>
   <td>{{report.label.date_field4}}</td>
   <td>{{report.date_field4}}</td>
{% endif %}
</tr>
<tr>
{% if report.date_field5 %}</td>
   <td>{{report.label.date_field5}}</td>
   <td>{{report.date_field5}}</td>
{% endif %}
</tr>

<!--End of new template-->

</table>
</div>
<a href="{% url "master_report_pdf" pk=report.pk%}" class="btn btn-info">Generate pdf</a>
{% endblock %}