<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


{% if report.short_text1 %}
	<p>{{report.label.short_text1}}:{{report.short_text1}} </p>
{% endif %}

{% if report.short_text2 %}
	<p>{{report.label.short_text1}}:{{report.short_text2}} </p>
{% endif %}

{% if report.short_text3 %}
	<p>{{report.label.short_text3}}:{{report.short_text3}} </p>
{% endif %}

{% if report.short_text4 %}
	<p>{{report.label.short_text4}}:{{report.short_text4}} </p>
{% endif %}

{% if report.num_field1 %}
	<p>{{report.label.num_field1}}:{{report.num_field1}} </p>
{% endif %}

{% if report.num_field2 %}
	<p>{{report.label.num_field2}}:{{report.num_field2}} </p>
{% endif %}

{% if report.long_text3 %}
	<p>{{report.label.long_text3}}:{{report.long_text3}} </p>
{% endif %}


{% if report.long_text4 %}
	<p>{{report.label.long_text4}}:{{report.long_text4}} </p>
{% endif %}

{% if report.long_text5 %}
	<p>{{report.label.long_text5}}:{{report.long_text5}} </p>
{% endif %}

{% if report.date_field1 %}
	<p>{{report.label.date_field1}}:{{report.date_field1}} </p>
{% endif %}

{% if report.date_field2 %}
	<p>{{report.label.date_field2}}:{{report.date_field2}} </p>
{% endif %}

{% if report.date_field3 %}
	<p>{{report.label.date_field3}}:{{report.date_field3}} </p>
{% endif %}
</body>
</html>