<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	table{
		padding: 5px;
		background-color: #C0C0C0;
		-pdf-keep-in-frame-mode: shrink;
	}
	</style>
</head>
<body>

<table>
<!--New template-->
<h1>{{report.label.assosiative.form_name}}</h1>
{% if report.short_text1 %}
<tr>
    <td>{{report.label.short_text1}}</td>
    <td>{{report.short_text1}}</td>
</tr>
{% endif %}
{% if report.short_text2 %}
<tr>
    <td>{{report.label.short_text2}}</td>
    <td>{{report.short_text2}}</td>
</tr>
{% endif %}
{% if report.short_text3 %}
<tr>
    <td>{{report.label.short_text3}}</td>
    <td>{{report.short_text3}}</td>
</tr>
{% endif %}
{% if report.short_text4 %}
<tr>
    <td>{{report.label.short_text4}}</td>
    <td>{{report.short_text4}}</td>
</tr>
{% endif %}
{% if report.short_text5 %}
<tr>
    <td>{{report.label.short_text5}}</td>
    <td>{{report.short_text5}}</td>
</tr>
{% endif %}
{% if report.short_text6 %}
<tr>
    <td>{{report.label.short_text6}}</td>
    <td>{{report.short_text6}}</td>
</tr>
{% endif %}
{% if report.short_text7 %}
<tr>
    <td>{{report.label.short_text7}}</td>
    <td>{{report.short_text7}}</td>
</tr>
{% endif %}
{% if report.short_text8 %}
<tr>
    <td>{{report.label.short_text8}}</td>
    <td>{{report.short_text8}}</td>
</tr>
{% endif %}
{% if report.short_text9 %}
<tr>
    <td>{{report.label.short_text9}}</td>
    <td>{{report.short_text9}}</td>
</tr>
{% endif %}
{% if report.short_text10 %}
<tr>
    <td>{{report.label.short_text10}}</td>
    <td>{{report.short_text10}}</td>
</tr>
{% endif %}
{% if report.short_text11 %}
<tr>
    <td>{{report.label.short_text11}}</td>
    <td>{{report.short_text11}}</td>
</tr>
{% endif %}
{% if report.short_text12 %}
<tr>
    <td>{{report.label.short_text12}}</td>
    <td>{{report.short_text12}}</td>
</tr>
{% endif %}
{% if report.short_text13 %}
<tr>
    <td>{{report.label.short_text13}}</td>
    <td>{{report.short_text13}}</td>
</tr>
{% endif %}
{% if report.short_text14 %}
<tr>
    <td>{{report.label.short_text14}}</td>
    <td>{{report.short_text14}}</td>
</tr>
{% endif %}
{% if report.short_text15 %}
<tr>
    <td>{{report.label.short_text15}}</td>
    <td>{{report.short_text15}}</td>
</tr>
{% endif %}
{% if report.short_text16 %}
<tr>
    <td>{{report.label.short_text16}}</td>
    <td>{{report.short_text16}}</td>
</tr>
{% endif %}
{% if report.short_text17 %}
<tr>
    <td>{{report.label.short_text17}}</td>
    <td>{{report.short_text17}}</td>
</tr>
{% endif %}
{% if report.short_text18 %}
<tr>
    <td>{{report.label.short_text18}}</td>
    <td>{{report.short_text18}}</td>
</tr>
{% endif %}
{% if report.short_text19 %}
<tr>
    <td>{{report.label.short_text19}}</td>
    <td>{{report.short_text19}}</td>
</tr>
{% endif %}
{% if report.short_text20 %}
<tr>
    <td>{{report.label.short_text20}}</td>
    <td>{{report.short_text20}}</td>
</tr>
{% endif %}
{% if report.short_text21 %}
<tr>
    <td>{{report.label.short_text21}}</td>
    <td>{{report.short_text21}}</td>
</tr>
{% endif %}
{% if report.short_text22 %}
<tr>
    <td>{{report.label.short_text22}}</td>
    <td>{{report.short_text22}}</td>
</tr>
{% endif %}
{% if report.short_text23 %}
<tr>
    <td>{{report.label.short_text23}}</td>
    <td>{{report.short_text23}}</td>
</tr>
{% endif %}
{% if report.short_text24 %}
<tr>
    <td>{{report.label.short_text24}}</td>
    <td>{{report.short_text24}}</td>
</tr>
{% endif %}
{% if report.short_text25 %}
<tr>
    <td>{{report.label.short_text25}}</td>
    <td>{{report.short_text25}}</td>
</tr>
{% endif %}
{% if report.short_text26 %}
<tr>
    <td>{{report.label.short_text26}}</td>
    <td>{{report.short_text26}}</td>
</tr>
{% endif %}
{% if report.short_text27 %}
<tr>
    <td>{{report.label.short_text27}}</td>
    <td>{{report.short_text27}}</td>
</tr>
{% endif %}
{% if report.short_text28 %}
<tr>
    <td>{{report.label.short_text28}}</td>
    <td>{{report.short_text28}}</td>
</tr>
{% endif %}
{% if report.short_text29 %}
<tr>
    <td>{{report.label.short_text29}}</td>
    <td>{{report.short_text29}}</td>
</tr>
{% endif %}
{% if report.short_text30 %}
<tr>
    <td>{{report.label.short_text30}}</td>
    <td>{{report.short_text30}}</td>
</tr>
{% endif %}
{% if report.short_text31 %}
<tr>
    <td>{{report.label.short_text31}}</td>
    <td>{{report.short_text31}}</td>
</tr>
{% endif %}
{% if report.short_text32 %}
<tr>
    <td>{{report.label.short_text32}}</td>
    <td>{{report.short_text32}}</td>
</tr>
{% endif %}
{% if report.short_text33 %}
<tr>
    <td>{{report.label.short_text33}}</td>
    <td>{{report.short_text33}}</td>
</tr>
{% endif %}
{% if report.short_text34 %}
<tr>
    <td>{{report.label.short_text34}}</td>
    <td>{{report.short_text34}}</td>
</tr>
{% endif %}
{% if report.short_text35 %}
<tr>
    <td>{{report.label.short_text35}}</td>
    <td>{{report.short_text35}}</td>
</tr>
{% endif %}
{% if report.short_text36 %}
<tr>
    <td>{{report.label.short_text36}}</td>
    <td>{{report.short_text36}}</td>
</tr>
{% endif %}
{% if report.short_text37 %}
<tr>
    <td>{{report.label.short_text37}}</td>
    <td>{{report.short_text37}}</td>
</tr>
{% endif %}
{% if report.short_text38 %}
<tr>
    <td>{{report.label.short_text38}}</td>
    <td>{{report.short_text38}}</td>
</tr>
{% endif %}
{% if report.short_text39 %}
<tr>
    <td>{{report.label.short_text39}}</td>
    <td>{{report.short_text39}}</td>
</tr>
{% endif %}
{% if report.short_text40 %}
<tr>
    <td>{{report.label.short_text40}}</td>
    <td>{{report.short_text40}}</td>
</tr>
{% endif %}
{% if report.short_text41 %}
<tr>
    <td>{{report.label.short_text41}}</td>
    <td>{{report.short_text41}}</td>
</tr>
{% endif %}
{% if report.short_text42 %}
<tr>
    <td>{{report.label.short_text42}}</td>
    <td>{{report.short_text42}}</td>
</tr>
{% endif %}
{% if report.short_text43 %}
<tr>
    <td>{{report.label.short_text43}}</td>
    <td>{{report.short_text43}}</td>
</tr>
{% endif %}
{% if report.short_text44 %}
<tr>
    <td>{{report.label.short_text44}}</td>
    <td>{{report.short_text44}}</td>
</tr>
{% endif %}
{% if report.short_text45 %}
<tr>
    <td>{{report.label.short_text45}}</td>
    <td>{{report.short_text45}}</td>
</tr>
{% endif %}
{% if report.short_text46 %}
<tr>
    <td>{{report.label.short_text46}}</td>
    <td>{{report.short_text46}}</td>
</tr>
{% endif %}
{% if report.short_text47 %}
<tr>
    <td>{{report.label.short_text47}}</td>
    <td>{{report.short_text47}}</td>
</tr>
{% endif %}
{% if report.short_text48 %}
<tr>
    <td>{{report.label.short_text48}}</td>
    <td>{{report.short_text48}}</td>
</tr>
{% endif %}
{% if report.short_text49 %}
<tr>
    <td>{{report.label.short_text49}}</td>
    <td>{{report.short_text49}}</td>
</tr>
{% endif %}
{% if report.short_text50 %}
<tr>
    <td>{{report.label.short_text50}}</td>
    <td>{{report.short_text50}}</td>
</tr>
{% endif %}
{% if report.short_text51 %}
<tr>
    <td>{{report.label.short_text51}}</td>
    <td>{{report.short_text51}}</td>
</tr>
{% endif %}
{% if report.short_text52 %}
<tr>
    <td>{{report.label.short_text52}}</td>
    <td>{{report.short_text52}}</td>
</tr>
{% endif %}
{% if report.short_text53 %}
<tr>
    <td>{{report.label.short_text53}}</td>
    <td>{{report.short_text53}}</td>
</tr>
{% endif %}
{% if report.short_text54 %}
<tr>
    <td>{{report.label.short_text54}}</td>
    <td>{{report.short_text54}}</td>
</tr>
{% endif %}
{% if report.short_text55 %}
<tr>
    <td>{{report.label.short_text55}}</td>
    <td>{{report.short_text55}}</td>
</tr>
{% endif %}
{% if report.short_text56 %}
<tr>
    <td>{{report.label.short_text56}}</td>
    <td>{{report.short_text56}}</td>
</tr>
{% endif %}
{% if report.short_text57 %}
<tr>
    <td>{{report.label.short_text57}}</td>
    <td>{{report.short_text57}}</td>
</tr>
{% endif %}
{% if report.short_text58 %}
<tr>
    <td>{{report.label.short_text58}}</td>
    <td>{{report.short_text58}}</td>
</tr>
{% endif %}
{% if report.short_text59 %}
<tr>
    <td>{{report.label.short_text59}}</td>
    <td>{{report.short_text59}}</td>
</tr>
{% endif %}
{% if report.short_text60 %}
<tr>
    <td>{{report.label.short_text60}}</td>
    <td>{{report.short_text60}}</td>
</tr>
{% endif %}

{% if report.num_field1 %}
<tr>
    <td>{{report.label.num_field1}}</td>
    <td>{{report.num_field1}}</td>
</tr>
{% endif %}
{% if report.num_field2 %}
<tr>
    <td>{{report.label.num_field2}}</td>
    <td>{{report.num_field2}}</td>
</tr>
{% endif %}
{% if report.num_field3 %}
<tr>
    <td>{{report.label.num_field3}}</td>
    <td>{{report.num_field3}}</td>
</tr>
{% endif %}
{% if report.num_field4 %}
<tr>
    <td>{{report.label.num_field4}}</td>
    <td>{{report.num_field4}}</td>
</tr>
{% endif %}
{% if report.num_field5 %}
<tr>
    <td>{{report.label.num_field5}}</td>
    <td>{{report.num_field5}}</td>
</tr>
{% endif %}
{% if report.num_field6 %}
<tr>
    <td>{{report.label.num_field6}}</td>
    <td>{{report.num_field6}}</td>
</tr>
{% endif %}
{% if report.num_field7 %}
<tr>
    <td>{{report.label.num_field7}}</td>
    <td>{{report.num_field7}}</td>
</tr>
{% endif %}
{% if report.num_field8 %}
<tr>
    <td>{{report.label.num_field8}}</td>
    <td>{{report.num_field8}}</td>
</tr>
{% endif %}
{% if report.num_field9 %}
<tr>
    <td>{{report.label.num_field9}}</td>
    <td>{{report.num_field9}}</td>
</tr>
{% endif %}
{% if report.num_field10 %}
<tr>
    <td>{{report.label.num_field10}}</td>
    <td>{{report.num_field10}}</td>
</tr>
{% endif %}




{% if report.long_text1 %}
<tr>
    <td>{{report.label.long_text1}}</td>
    <td>{{report.long_text1}}</td>
</tr>
{% endif %}
{% if report.long_text2 %}
<tr>
    <td>{{report.label.long_text2}}</td>
    <td>{{report.long_text2}}</td>
</tr>
{% endif %}
{% if report.long_text3 %}
<tr>
    <td>{{report.label.long_text3}}</td>
    <td>{{report.long_text3}}</td>
</tr>
{% endif %}
{% if report.long_text4 %}
<tr>
    <td>{{report.label.long_text4}}</td>
    <td>{{report.long_text4}}</td>
</tr>
{% endif %}
{% if report.long_text5 %}
<tr>
    <td>{{report.label.long_text5}}</td>
    <td>{{report.long_text5}}</td>
</tr>
{% endif %}
{% if report.long_text6 %}
<tr>
    <td>{{report.label.long_text6}}</td>
    <td>{{report.long_text6}}</td>
</tr>
{% endif %}
{% if report.long_text7 %}
<tr>
    <td>{{report.label.long_text7}}</td>
    <td>{{report.long_text7}}</td>
</tr>
{% endif %}
{% if report.long_text8 %}
<tr>
    <td>{{report.label.long_text8}}</td>
    <td>{{report.long_text8}}</td>
</tr>
{% endif %}
{% if report.long_text9 %}
<tr>
    <td>{{report.label.long_text9}}</td>
    <td>{{report.long_text9}}</td>
</tr>
{% endif %}
{% if report.long_text10 %}
<tr>
    <td>{{report.label.long_text10}}</td>
    <td>{{report.long_text10}}</td>
</tr>
{% endif %}
{% if report.long_text11 %}
<tr>
    <td>{{report.label.long_text11}}</td>
    <td>{{report.long_text11}}</td>
</tr>
{% endif %}
{% if report.long_text12 %}
<tr>
    <td>{{report.label.long_text12}}</td>
    <td>{{report.long_text12}}</td>
</tr>
{% endif %}
{% if report.long_text13 %}
<tr>
    <td>{{report.label.long_text13}}</td>
    <td>{{report.long_text13}}</td>
</tr>
{% endif %}
{% if report.long_text14 %}
<tr>
    <td>{{report.label.long_text14}}</td>
    <td>{{report.long_text14}}</td>
</tr>
{% endif %}
{% if report.long_text15 %}
<tr>
    <td>{{report.label.long_text15}}</td>
    <td>{{report.long_text15}}</td>
</tr>
{% endif %}
{% if report.long_text16 %}
<tr>
    <td>{{report.label.long_text16}}</td>
    <td>{{report.long_text16}}</td>
</tr>
{% endif %}
{% if report.long_text17 %}
<tr>
    <td>{{report.label.long_text17}}</td>
    <td>{{report.long_text17}}</td>
</tr>
{% endif %}
{% if report.long_text18 %}
<tr>
    <td>{{report.label.long_text18}}</td>
    <td>{{report.long_text18}}</td>
</tr>
{% endif %}
{% if report.long_text19 %}
<tr>
    <td>{{report.label.long_text19}}</td>
    <td>{{report.long_text19}}</td>
</tr>
{% endif %}
{% if report.long_text20 %}
<tr>
    <td>{{report.label.long_text20}}</td>
    <td>{{report.long_text20}}</td>
</tr>
{% endif %}


{% if report.image_field1 %}
<tr>
    <td>{{report.label.image_field1}}</td>
    <td><img src="{{MEDIA_URL}}{{report.image_field1.url}}"></td>
</tr>
{% endif %}
{% if report.image_field2 %}
<tr>
    <td>{{report.label.image_field2}}</td>
    <td><img src="{{MEDIA_URL}}{{report.image_field2.url}}"></td>
</tr>
{% endif %}
{% if report.image_field3 %}
<tr>
    <td>{{report.label.image_field3}}</td>
    <td><img src="{{MEDIA_URL}}{{report.image_field3.url}}"></td>
</tr>
{% endif %}
{% if report.image_field4 %}
<tr>
    <td>{{report.label.image_field4}}</td>
    <td><img src="{{MEDIA_URL}}{{report.image_field4.url}}"></td>
</tr>
{% endif %}
{% if report.image_field5 %}
<tr>
    <td>{{report.label.image_field5}}</td>
    <td><img src="{{MEDIA_URL}}{{report.image_field5.url}}"></td>
</tr>
{% endif %}

{% if report.date_field1 %}
<tr>
    <td>{{report.label.date_field1}}</td>
    <td>{{report.date_field1}}</td>
</tr>
{% endif %}
{% if report.date_field2 %}
<tr>
    <td>{{report.label.date_field2}}</td>
    <td>{{report.date_field2}}</td>
</tr>
{% endif %}
{% if report.date_field3 %}
<tr>
    <td>{{report.label.date_field3}}</td>
    <td>{{report.date_field3}}</td>
</tr>
{% endif %}
{% if report.date_field4 %}
<tr>
    <td>{{report.label.date_field4}}</td>
    <td>{{report.date_field4}}</td>
</tr>
{% endif %}
{% if report.date_field5 %}
<tr>
    <td>{{report.label.date_field5}}</td>
    <td>{{report.date_field5}}</td>
</tr>
{% endif %}


<!--New template-->

</table>

</body>
</html>